* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


#buttons-container button {
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    margin: 0 10px;
}

#container {
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.box {
    height: 100px;
    border: 5px solid #000;
    flex: 1 1 33%;

}

#block-1 , #block-2 , #block-3  {
    border-top: none;
}

#block-1 , #block-4 , #block-7  {
    border-left: none;
}

#block-3 , #block-6 , #block-9  {
    border-right: none;
}


#block-7 , #block-8 , #block-9  {
    border-bottom: none;
}


.x {
    font-size: 4rem;
    color: red;
    display: inline-block;
    line-height: 6.25rem;
}

.o {
    width: 3.125rem;
    height: 3.125rem;
    border: 5px solid green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1.06rem;
}

.hide {
    display: none !important;
}


#scoreboard-container {
    font-weight: bold;
    margin-top: 1.87rem;
    font-size: 1.56rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 6px;
}

.score-box {
    margin: 0 20px;
}

#x-scoreboard {
    color: red;
    margin-right: 3px;
}

#o-scoreboard {
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 3px;

}


#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    left: 0;
    right: 0;
    top:9.37rem;
    width: 31.25rem;
    font-size: 3.12rem;
    background-color: #000;
    color: #fff;
    padding: 1.25rem;
    

}

footer {
    flex: 1;
    margin-top: 1.5rem;
}

footer p{
    font-size: 0.6rem;
}

footer a{
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: .8s;
}

footer a:hover {
    font-size: 0.8rem;
}





